<app-toolbar-home></app-toolbar-home>
<section>
  <!--Content colum information-->
  <div class="container-home">

    <div class="container-content">
      <!--Information-->
      <div class="row">
        <div class ="information">
          <h1>Zaballos: Todo lo que necesitas, siempre cerca de ti</h1>
          <p>En Zaballos, te ofrecemos una amplia variedad de productos frescos y de calidad para que tu despensa esté siempre completa</p>

          <button class="button-sign-in-admin" routerLink="/admin-login">Administrador</button>
          <button class="button-sign-in-client" routerLink="/client-login">Cliente</button>
        </div>
      </div>

      <!--Image Home ReStyle-->
      <div class="row">
        <img src="assets/images/image-home.png" alt="">
      </div>
    </div>
  </div>

</section>
