
mat-toolbar {
  position: fixed;
  color: #2d6b22;
}

.logo-container {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: auto;
}

.spacer {
  flex: 0.4;
}

.title-logo {
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  margin-left: 5px;
  cursor: pointer;
}

.logo {
  cursor: pointer;
}

button {
  font-size: 1.1rem;
  padding: 3px 8px;
  border-color: #000000;
  border-radius: 5px;
  margin: 0 10px;
  background-color: #2d6b22;
  cursor: pointer;
  color: #FFFFFF;
}

button:hover {
  background-color: #4e9b42;
  color: #000000;
}
